@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground: #ffffff;
  --background: black;
}

/* @media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
} */

body {
  color: var(--foreground);
  background: var(--background);
  font-family: var(--font-open-sans);
}

h1, h2, h3, h4, h5, h6 {
  font-family: var(--font-outfit);
}

.hero-heading {
  -webkit-text-stroke: 0.02em white;
  color: black;
  font-stretch: 0%;
  font-weight: 200;
}
